@charset 'utf-8';

/* global */
i.todo-folder {
	display: inline-block;
	vertical-align: top;
	width: 28px;
	height: 28px;
	background-image: url(../img/css-sprite.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 100%;
}
.show {
	display: block;
}
.hide {
	display: none;
}

/* layout */
#header {
	width: 100%;
	min-width: 1000px;
	height: 60px;
	background-color: #dddddd;
}
header .title {
	padding: 0 10px;
	font-size: 20px;
	line-height: 60px;
	font-weight: normal;
	color: #555555;
	border-bottom: 1px solid #cdcdcd;
}
#main {
	position: absolute;
	top: 61px;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	min-width: 1000px;
	min-height: 600px;
	background-color: #ffff80;
}
#menu {
	position: absolute;
	left: 0;
	top: 0;
	width: 200px;
	height: 100%;
	background-color: #f2f2f2;
	border-right: 1px solid #cdcdcd;
	overflow:
}
.list-box {
	position: absolute;
	left: 0;
	width: 100%;
	padding: 12px 0;
	font-size: 14px;
	line-height: 28px;
	top: 0;
	bottom: 41px;
	overflow: auto;
}
.list-box a {
	display: block;
	color: #000;
	line-height: 2.0;
	text-decoration: none;
	padding: 0 12px;
}
.mainnav > li {
	padding-left: 20px;
	list-style: square;
}
.mainnav > li:hover {
	background-color: #fff;
}
.mainnav > li a {
	padding-left: 20px;
}
.subnav > li {
	padding-left: 28px;
}
.subnav > li:hover {
	background-color: #fff;
}
.subnav > li.active {
	background-color: #fff;
}

/* 取消分类列表li预订样式 */
#all-todos .mainnav > li:before {
	content: '';
	display: inline-block;
	vertical-align: top;
	width: 28px;
	height: 28px;
	background-image: url(../img/css-sprite.png);
	background-position: 0 -28px;
	background-repeat: no-repeat;
	background-size: 100%;
}
.categorys .mainnav > li {
	padding-left: 0;
}
.categorys .mainnav > li:hover {
	background-color: #f2f2f2;
}
.categorys .mainnav li a:before {
	content: '';
	display: inline-block;
	vertical-align: top;
	width: 28px;
	height: 28px;
	background-image: url(../img/css-sprite.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 100%;
}
.categorys .subnav li:before {
	content: '';
	display: inline-block;
	vertical-align: top;
	width: 28px;
	height: 28px;
	background-image: url(../img/css-sprite.png);
	background-position: 0 -28px;
	background-repeat: no-repeat;
	background-size: 100%;
}
.category {
	position: relative;
}
.category > .category-del {
	display: none;
	position: absolute;
	right: 10px;
	top: 0;
	cursor: pointer;
}
.category:hover > .category-del {
	display: inline;
}
.task .task-del {
	display: none;
	float: right;
	padding-right: 10px;
	cursor: pointer;
}
.task:hover .task-del {
	display: inline;
}
.sub-cate .sub-cate-del {
	display: none;
	float: right;
	padding-right: 10px;
	cursor: pointer;
}
.sub-cate:hover .sub-cate-del {
	display: inline;
}

#submenu {
	position: absolute;
	left: 0;
	top: 0;
	width: 200px;
	margin-left: 201px;
	height: 100%;
	background-color: #eeeeee;
	border-right: 1px solid #cdcdcd;
}
#submenu .list-box {
	padding: 0;
}
#submenu .mainnav>li {
	padding-left: 0;
}
.top-tab {
	height: 40px;
	padding: 0 12px;
	line-height: 40px;
	border-bottom: 1px solid #cdcdcd;
}
.top-tab a {
	display: inline-block;
	line-height: 20px;
	text-decoration: none;
	color: #050505;
	cursor: pointer;
	padding: 2px 5px;
	border: 1px solid #eeeeee;
}
.top-tab a.active, .top-tab a:hover {
	background-color: #fff;
	border: 1px solid #cdcdcd;
	color: #050505;
}
#submenu .list-box {
	background-color: #fff;
	position: absolute;
	top: 41px;
	bottom: 0;
	left: 0;
	right: 0;
}
#submenu .task-time {
	padding-left: 10px;
	background-color: #ffffee;
}
#submenu .task-name {
	padding-left: 20px;
}
#submenu .task.finished .task-name{
	color: #00ff80;	
}


.add-new-category, .add-new-task {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 40px;
	line-height: 40px;
	background-color: #eeeeee;
	border-top: 1px solid #cdcdcd;
	width: 100%;
	cursor: pointer;
}
.add-new-category p, .add-new-task p {
	text-align: center;
	font-size: 14px;
}
.add-new-category p i, .add-new-task p i {
	font-weight: bold;
}

/* 任务面板 */
.task-panel {
	position: relative;
	margin-left: 402px;
	height: 100%;
	background-color: #00ff80;
}
.task-panel .task-header {
	background-color: #f2f2f2;
	height: 50px;
	width: 100%;
	line-height: 50px;
	border-bottom: 1px solid #cdcdcd;
}
.task-panel .task-header .task-title {
	padding: 0 12px;
	font-size: 16px;
	font-weight: bold;
}
.task-panel .task-datetime {
	height: 50px;
	font-size: 14px;
	line-height: 50px;
	padding: 0 12px;
	background-color: #ffffee;
	border-bottom: 1px solid #cdcdcd;
}
.task-panel .task-content {
	position: absolute;
	top: 102px;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 12px;
	background-color: #fff;
	font-size: 14px;
}
.task-panel .task-content .real-textarea {
	width: 98%;
	resize: vertical;
	padding: 1%;
}
.task-panel .task-content .task-operation {
	margin-top: 10px;
}

/* 下拉菜单组件 */
.dropdown .dropdown-toggle {
}
.dropdown .dropdown-toggle.active {
}
.dropdown .dropdown-menu {
	/*display: none;*/
}

/* tab切换组件 */
.tab-nav {
}
.tab-content {
}
.tab-content .tabpanel {
	display: none;
}

.ok-btn, .cancel-btn {
	border: none;
	background-color: #0080ff;
	color: #fff;
	border-radius: 5px;
	padding: 5px 10px;	
	cursor: pointer;
}

.ok-btn:hover {
	background-color: #004080;
}

.cancel-btn {
	background-color: #ff8080;
}

.cancel-btn:hover {
	background-color: #ff0000;
}

/* 遮蔽层组件 */
.overlay {
	position: absolute;
	left: 0;
	right: 0;
	display: none;
	width: 100%;
	height: 100%;
	background-color: #000000;
	opacity: 0.5;
	*filter: alpha(opacity=50);
	z-index: 9999;
}
.overlay-mes {
	position: fixed;
	display: none;
	left: 50%;
	top: 50%;
	width: 240px;
	margin-left: -150px;
	margin-top: -100px;
	background-color: #fff;
	border-radius: 5px;
	z-index: 10000;
	padding: 40px 30px;
}
.overlay-mes p {
	font-size: 14px;
	padding: 10px 0px;
	margin-bottom: 5px;
}
.overlay-mes button {
	font-size: 14px;
	padding: 5px 10px;
	background-color: #fff;
	border: 1px solid #fff;
	cursor: pointer;
}
.overlay-mes button.ok {
	border-color: #004080;
	background-color: #fff;
	color: #004080;
}
.overlay-mes button.ok:hover {
	background-color: #004080;
	color: #fff;
}
.overlay-mes button.cancel {
	border-color: #c0c0c0;
	background-color: #fff;
	color: #c0c0c0;
}
.overlay-mes button.cancel:hover {
	background-color: #c0c0c0;
	color: #fff;
}
.overlay-mes i.close {
	cursor: pointer;
	position: absolute;
	top: 10px;
	right: 10px;
}
.overlay-mes.prompt input {
	width: 100%;
	margin-bottom: 10px;
	line-height: 20px;
}