@charset "utf-8";
html {
  height: 100%;
}
body {
  line-height: 1.4;
  padding: 0;
  margin: 0;
  font-family: "Microsoft Yahei", serif;
  height: 100%;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
p {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
input {
  vertical-align: middle;
}
@-webkit-keyframes fade-in {
  from {
    -webkit-transform: scale(0.97, 0.97);
            transform: scale(0.97, 0.97);
  }
  to {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
@keyframes fade-in {
  from {
    -webkit-transform: scale(0.97, 0.97);
            transform: scale(0.97, 0.97);
  }
  to {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
.sprite {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(../img/css-sprite.png);
  background-repeat: no-repeat;
}
.hide {
  display: none;
}
.add-icon {
  margin-top: 5px;
  width: 30px;
  height: 30px;
  background-position: 5px -139px;
}
body {
  background-color: #ff8080;
}
/* 公共视图类 start */
.app-view {
  height: 100%;
}
.app-view .app-header {
  height: 45px;
}
.app-view .app-header .header-container {
  position: fixed;
  width: 100%;
  z-index: 10000;
}
.app-view .app-header .app-operation {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 10px;
  background-color: #ff4040;
  color: #fff;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  margin-bottom: 8px;
  height: 28px;
}
.app-view .app-header .app-operation .back-btn {
  color: #fff;
  -webkit-flex: 1 1 20%;
      -ms-flex: 1 1 20%;
          flex: 1 1 20%;
  font-size: 14px;
}
.app-view .app-header .app-operation .app-title {
  text-align: center;
  font-weight: normal;
  margin: 0;
  padding: 0;
  -webkit-flex: 1 1 60%;
      -ms-flex: 1 1 60%;
          flex: 1 1 60%;
  font-size: 20px;
}
.app-view .app-header .app-operation .refresh-btn {
  -webkit-flex: 1 1 20%;
      -ms-flex: 1 1 20%;
          flex: 1 1 20%;
  text-decoration: none;
  color: #fff;
  text-align: right;
  font-size: 14px;
}
.app-view .app-header .add-new-task-block {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 10px;
  margin: 5px 5px 0;
  border-radius: 5px;
  background-color: #392020;
}
.app-view .app-header .add-new-task-block .new-task-input {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
  -webkit-flex: 2 1 80%;
      -ms-flex: 2 1 80%;
          flex: 2 1 80%;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: #fff;
  font-size: 14px;
  font-family: "Microsoft Yahei";
}
.app-view .app-header .add-new-task-block .new-task-input:focus {
  outline: 0;
}
.app-view .app-header .add-new-task-block .ok-btn {
  box-sizing: content-box;
  -webkit-flex: 1 1 20%;
      -ms-flex: 1 1 20%;
          flex: 1 1 20%;
  color: #A9A9A9;
  text-align: right;
  font-size: 14px;
}
.app-view .app-content {
  position: absolute;
  top: 44px;
  left: 0;
  bottom: 40px;
  width: 100%;
  background-color: #ff8080;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-animation: fade-in 0.3s;
          animation: fade-in 0.3s;
  padding-top: 7px;
}
.app-view .app-content .app-task-list .task {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  color: #444;
  margin: 0 5px 7px;
  border-radius: 4px;
  height: 45px;
}
.app-view .app-content .app-task-list .task .checkbox {
  padding: 11px 6px 11px 10px;
}
.app-view .app-content .app-task-list .task .checkbox input {
  zoom: 150%;
  margin: 0;
  margin-top: -1px;
}
.app-view .app-content .app-task-list .task .cate-icon {
  background-position: 0 -4px;
  margin: 0 6px 0 10px;
}
.app-view .app-content .app-task-list .task .task-icon {
  background-position: 0 -32px;
}
.app-view .app-content .app-task-list .task .task-content {
  margin-right: auto;
}
.app-view .app-content .app-task-list .task .task-content .task-title {
  font-size: 14px;
  font-weight: bold;
  width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.app-view .app-content .app-task-list .task .task-content .task-datetime {
  font-size: 12px;
  color: #999;
}
.app-view .app-content .app-task-list .task .star-btn {
  font-size: 18px;
  font-weight: bold;
  color: #000;
}
.app-view .app-content .app-task-list .task .delete-icon {
  padding: 10px;
}
.app-view .app-content .app-task-list .task .delete-icon .sprite {
  background-position: 0 -60px;
  vertical-align: middle;
}
.app-view .app-content .app-task-list .finished {
  opacity: 0.5;
}
.app-view .app-content .task-detail {
  margin: 0 5px;
  padding: 5px 10px;
  color: #444;
}
.app-view .app-content .task-detail .task-header {
  padding-bottom: 10px;
  height: 20px;
  padding: 10px 0;
}
.app-view .app-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
}
.app-view .app-footer .footer-container {
  height: 40px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
}
.app-view .app-footer .new-category-modal {
  height: 100px;
}
/* 公共视图类 end */
/* 任务详情视图 start */
#task-view {
  background-color: #fff;
}
#task-view .app-header {
  height: 44px;
}
#task-view .app-header .app-operation {
  background-color: #fff;
}
#task-view .app-header .app-operation .back-btn {
  color: #999;
}
#task-view .app-header .app-operation .app-title {
  color: #444;
  font-weight: bold;
}
#task-view .app-header .app-operation .refresh-btn {
  color: #999;
}
#task-view .app-header .app-operation .edit-title {
  border: none;
  color: #444;
  font-family: "微软雅黑";
  font-size: 20px;
  margin: 0;
  padding: 0;
  -webkit-flex: 1 1 60%;
      -ms-flex: 1 1 60%;
          flex: 1 1 60%;
}
#task-view .app-header .app-operation .edit-title:focus {
  outline: 0;
}
#task-view .app-content {
  bottom: 0;
  background-color: #fff;
}
#task-view .app-content .task-header {
  border-bottom: 1px solid #b9b9b9;
}
#task-view .app-content .task-header .time-icon {
  background-position: -1px -200px;
  vertical-align: middle;
}
#task-view .app-content .task-header .task-datetime {
  text-align: left;
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  color: #999;
  margin-left: 10px;
}
#task-view .app-content .task-content {
  padding: 10px 0;
  position: relative;
}
#task-view .app-content .task-content .edit {
  position: absolute;
  display: inline-block;
  background-position: -1px -170px;
}
#task-view .app-content .task-content .text-content {
  display: inline-block;
}
#task-view .app-content .task-content #edit-content {
  border: none;
  font-family: "微软雅黑";
  width: 100%;
  font-size: 16px;
  box-sizing: content-box;
  padding: 0;
  overflow: hidden;
  resize: none;
}
#task-view .app-content .task-content #edit-content:focus {
  outline: 0;
}
/* 任务详情视图 end */
/* 任务列表视图 start */
#task-list-view .app-header {
  height: 90px;
}
#task-list-view .app-content {
  top: 89px;
  bottom: 0;
}
/* 任务列表视图 end */
/* 目录列表视图 start */
#category-view .app-header {
  height: 45px;
}
#new-category-modal {
  box-sizing: content-box;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background-color: #fff;
  border-radius: 8px 8px 0 0;
  z-index: 10001;
}
#new-category-modal .container {
  padding: 15px;
}
#new-category-modal .container .cate-name {
  box-sizing: content-box;
  display: block;
  font-size: 18px;
  width: 100%;
  padding: 0;
  margin: 0;
  border: none;
  color: #444;
}
#new-category-modal .container .cate-name:focus {
  outline: 0;
}
#new-category-modal .container .ok-btn {
  position: absolute;
  padding: 10px 15px;
  bottom: 0;
  right: 0;
  color: #0080ff;
  font-size: 14px;
}
#new-category-modal .container .unwrap-btn {
  position: absolute;
  padding: 10px 15px;
  bottom: 0;
  left: 0;
  color: #c0c0c0;
  font-size: 14px;
}
/* 目录列表视图 end */
